body.report #content,
div.report
{
	width: 100%;
	box-sizing: border-box;
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	overflow: auto;
}
div.report
{
	background: white;
	padding: 1em;
}
tr.Sun td
{
	background-color: lightgrey;
	color: black;
}

td.duration,
td.durationWithChildren
{
	text-align: right;
}


td.dayOfMonth
{
	text-align: right;
}

.report td
{
	margin: 0;
	padding: 0.1em;

}
table.timeTable td.lastColumn
{
	width: 100% ;
}

table.timeTable td.taskName
{
	min-width: 7em ;
}
body.report #month,
body.report #year,
body.report #day
{
	display: inline-block;
	font-size: 130%;
	text-align: center;
	padding-left: 0.2em;
	padding-right: 0.2em;
}
body.report #month
{
	min-width: 6em;
}
body.report #dateBar
{
	display: inline-block;
	background-color: lightgrey;
}
#DayReport table
{
	border-spacing: 0;
	padding: 2px;
}
#DayReport table th
{
	padding-left: 0.3em;
	padding-right: 0.5em;
	border-radius: 0.3em;
}
table.timeTable .Item0
{
	background-color: lawngreen;
	min-width: 5em;
}

table.timeTable .Item1
{
	background-color: lightblue;
	min-width: 5em;
}

table.timeTable .Item2
{
	background-color: pink;
	min-width: 5em;
}
table.timeTable .Item3
{
	background-color: yellow;
	min-width: 5em;
}

table.timeTable .Item4
{
	background-color: orange;
	min-width: 5em;
}


table.timeTable .Item5
{
	background-color: lavender;
	min-width: 5em;
}

table.timeTable .Item6
{
	background-color: orchid;
	min-width: 5em;
}
table.timeTable .Item7,
table.timeTable .Item8,
table.timeTable .Item9,
table.timeTable .Item10,
table.timeTable .Item11,
table.timeTable .Item12,
table.timeTable .Item13
{
	background-color: lightgray;
	min-width: 5em;
}

table.timeTable span.Item
{
	border-radius: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

@media print
{
	body
	{
		font-size: 10pt;
	}
	table.timeTable .Item0,
	table.timeTable .Item1,
	table.timeTable .Item2,
	table.timeTable .Item3,
	table.timeTable .Item4,
	table.timeTable .Item5,
	table.timeTable .Item6,
	table.timeTable .Item7,
	table.timeTable .Item8,
	table.timeTable .Item9,
	table.timeTable .Item10,
	table.timeTable .Item11,
	table.timeTable .Item12,
	table.timeTable .Item13
	{
		border: solid 1px black;
	}
}
@media all and (min-resolution:130dpi) and (max-width:1000px),
@media all and (min-resolution:200dpi) and (max-width:2000px)
{
	body.report #month {
    	min-width: 3em;
	}
}

