body.report #content,
div.report
{
	width: 100%;
	box-sizing: border-box;
}
div.report
{
	background: white;
	padding: 1em;
}
tr.Sun td
{
	background-color: lightgrey;
	color: black;
}



td.dayOfMonth
{
	text-align: right;
}

.report td
{
	margin: 0;
	padding: 0.1em;

}
table.timeTable td.lastColumn
{
	width: 100% ;
}

table.timeTable td.taskName
{
	min-width: 10em ;
}
body.report #month,
body.report #year
{
	display: inline-block;
	font-size: 140%;
	text-align: center;
	padding-left: 0.2em;
	padding-right: 0.2em;
}
body.report #month
{
	min-width: 6em;
}
body.report #dateBar
{
	display: inline-block;
	background-color: lightgrey;
}
