@CHARSET "UTF-8";

#toolbar {
	padding: 0;
	background: black;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
	padding: 0.2em;
	width: 100%;
	z-index: 10;
	display: table;
	font-size: 120%;
	box-sizing: border-box;
}
#toolbar div#menu,
#toolbar div#userinfo
{
	display: table-cell;
}
#toolbar div#userinfo
{
	color: white;
	padding:0.2em;
	text-align:right;
}



#toolbar a {
	padding: 2px;
	padding-left: 1em;
	padding-right: 1em;
	margin: 3px;
/*	background: lightgray;
	border: groove;
	border-radius: 0.5em;
*/
	color: white;
	text-decoration: none;
}

#toolbar a:hover {
	background: green;
	color: white;
}

#toolbar a:active {
	color: green;
}

#content {
	vertical-align: top;
	margin-top: 1em;
	padding : 1em;
	padding-left: 2em;
	display: inline-block;
	padding: 1em
}

#infoBox {
	position: absolute;
	background: green;
	color: white;
	right: 1em;
	top: 1em;
	padding: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	text-align: Right;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
	border-radius: 0.5em;
}

#userInfo {
	float: right;
}



#browser-warning,
.dialog,
#dialog
{
	background-color: white;
	border: medium ridge;
	border-radius: 9px; padding : 1em; position : fixed;
	position: fixed;
	padding: 1em;
}
#browser-warning,
#dialog
{
	display: none;
}
#browser-warning
{
	display: block;
	top: 50%;
	left: 50%;
	margin-left: -10em;
	margin-top: -4em;
}

.browserOverlay,
#shadyOverlay {
	opacity: 0.50;
	background-color: black; cursor : pointer;
	height: 100%;
	display: none;
	position: fixed;
	width: 100%;
	cursor: pointer;
}

.browserOverlay
{
	display: block;
}


body.showDialog #shadyOverlay {
	display: block;
}

body.showDialog #dialog {
	position: absolute;
	display: block;
	opacity: 1;
	z-index: 99;
	visibility: visible;
	margin-left: 0;
	margin-top: 2em;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
}

#OKButton {
	float: left;
}

#CancelButton {
	float: right;
}



/********/
html,body {
	height: 100%;
	padding: 0;
	margin: 0;
}

img { border: none; }

div.mainFrame
{
	background: lightgray;
	padding: 0.5em;
	border-radius: 0.5em;
}

div.mainFrame h2,
div.mainFrame h3
{
	margin: 0 ;
	padding-top: 0.3em;
	padding-bottom: 0.1em;
}
div.data
{
	border: solid 1px black;
	border-radius: 0.5em;
	min-height: 15em;
	background: white;
	padding: 0.5em;
}
div.container
{
	display: inline-block;
	vertical-align: top;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

div#tasks,
div#times
{
	min-width: 14em;
}
.table
{
	display: table;
}
.row
{
	display: table-row;
}
.cell
{
	display: table-cell;
}
.summary
{
	min-height: 1em;
}
/**********/
/* CSS Tree menu styles */
ol.tree
{
	padding: 0 0 0 30px;
	width: 10em;
}
li
{
	position: relative;
	margin-left: -15px;
	list-style: none;
}
li input
{
	position: absolute;
	left: 0;
	margin-left: 0;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
	height: 1em;
	width: 1em;
	top: 0;
}
li input + ol
{
	background: url("/assets/toggle-small-expand.png") 40px -3px no-repeat;
	margin: -1em 0 0 -44px; /* 15px */
	height: 1em;
}

li input + ol > li
{
	display: none; margin-left: -14px !important; padding-left: 1px;
}

li label
{
	/*background: url(/assets/folder-horizontal.png) 15px 1px no-repeat;*/
	cursor: pointer;
	display: block;
	padding-left: 15px;
}

li input:checked + ol
{
	background: url("/assets/toggle-small.png") 40px -3px no-repeat;
	margin: -1em 0 0 -44px; /* 20px */
	padding: 1em 0 0 80px;
	height: auto;
}

li input:checked + ol > li { display: block; margin: 0 0 0.125em;  /* 2px */}
li input:checked + ol > li:last-child { margin: 0 0 0.063em; /* 1px */ }

div.toolbar
{
	display: table-row;
}
div.toolbar span
{
	display: table-cell;
}
@media all and (min-resolution:130dpi) and (max-width:1000px),
@media all and (min-resolution:200dpi) and (max-width:2000px)
{
button
{
	font-size: 120%;
}

body
{
	font-size: 250%;
}
}


